<div id="bootstrap-touch-slider" class="carousel bs-slider fade  control-round indicators-line" data-ride="carousel" data-pause="hover" data-interval="5000" >

    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#bootstrap-touch-slider" data-slide-to="0" class="active"></li>
        <li data-target="#bootstrap-touch-slider" data-slide-to="1"></li>
        <li data-target="#bootstrap-touch-slider" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper For Slides -->
    <div class="carousel-inner" role="listbox">

        <!-- Third Slide -->
        <div class="item active">

            <!-- Slide Background -->
            <img src="img/bg/1.jpg" alt="Slider Images"  class="slide-image"/>
            <div class="bs-slider-overlay"></div>

            <div class="container">
                <div class="row">
                    <!-- Slide Text Layer -->
                    <div class="slide-text slide_style_left">
                        <h1 data-animation="animated fadeInRight">Make good things happen</h1>
                        <p data-animation="animated fadeInLeft">consectetur adipisicing elit. Eligendi vel ipsam deleniti dignissimos <br> corporis consequatur possimus eaque voluptates.</p>
                        <a href="http://bootstrapthemes.co/" target="_blank" class="btn btn-default" data-animation="animated fadeInLeft">Read more</a>
                        <a href="http://bootstrapthemes.co/" target="_blank"  class="btn btn-primary" data-animation="animated fadeInRight">Donate Now</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Slide -->

        <!-- Second Slide -->
        <div class="item">

            <!-- Slide Background -->
            <img src="img/bg/2.jpg" alt="Slider Images" class="slide-image"/>
            <div class="bs-slider-overlay"></div>
            <!-- Slide Text Layer -->
            <div class="slide-text slide_style_center">
                <h1 data-animation="animated bounceInDown">Clean water changes everything.</h1>
                <p data-animation="animated lightSpeedIn">consectetur adipisicing elit. Eligendi vel ipsam deleniti dignissimos <br> corporis consequatur possimus eaque voluptates.</p>
                <a href="http://bootstrapthemes.co/" target="_blank" class="btn btn-default" data-animation="animated fadeInUp">Read More</a>
                <a href="http://bootstrapthemes.co/" target="_blank"  class="btn btn-primary" data-animation="animated fadeInDown">Donate Now</a>
            </div>
        </div>
        <!-- End of Slide -->

        <!-- Third Slide -->
        <div class="item">

            <!-- Slide Background -->
            <img src="img/bg/3.jpg" alt="Slider Images"  class="slide-image"/>
            <div class="bs-slider-overlay"></div>
            <!-- Slide Text Layer -->
            <div class="slide-text slide_style_right">
                <h1 data-animation="animated fadeInLeft">Why do charities use JustGiving?</h1>
                <p data-animation="animated fadeInRight">consectetur adipisicing elit. Eligendi vel ipsam deleniti dignissimos <br> corporis consequatur possimus eaque voluptates.</p>
                <a href="http://bootstrapthemes.co/" target="_blank" class="btn btn-default" data-animation="animated fadeInLeft">Read More</a>
                <a href="http://bootstrapthemes.co/" target="_blank" class="btn btn-primary" data-animation="animated fadeInRight">Donate Now</a>
            </div>
        </div>
        <!-- End of Slide -->


    </div><!-- End of Wrapper For Slides -->

    <!-- Left Control -->
    <a class="left carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="prev">
        <span class="fa fa-angle-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>

    <!-- Right Control -->
    <a class="right carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="next">
        <span class="fa fa-angle-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>

</div> <!-- End  bootstrap-touch-slider Slider -->



<!-- service start -->
<section class="service-area bg-f8">
    <div class="container">
        <div class="section-title">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2>Why partner with Help Gift?</h2>
                    <div class="line-border-center bg-defult"></div>
                    <p>Repellendus error placeat numquam doloribus perferendis consequatur maxime molestiae soluta Corporis quidem quaerat accusantium omnis repudiandae nulla recusandae</p>
                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="service-item text-center style-4">
                        <img src="img/icon/50.png" alt="">
                        <h4><a href="#">Get more people involved</a></h4>
                        <p>consectetur adipisicing elit. Asperiores cumque omnis exercitationem labore officiis. Quae soluta nisi praesentium eius.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="service-item text-center style-4">
                        <img src="img/icon/39.png" alt="">
                        <h4><a href="#">Make registration simple</a></h4>
                        <p>consectetur adipisicing elit. Asperiores cumque omnis exercitationem labore officiis. Quae soluta nisi praesentium eius.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="service-item text-center style-4">
                        <img src="img/icon/35.png" alt="">
                        <h4><a href="#">world-class technology</a></h4>
                        <p>consectetur adipisicing elit. Asperiores cumque omnis exercitationem labore officiis. Quae soluta nisi praesentium eius.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="service-item text-center style-5">
                        <img src="img/icon/7.png" alt="">
                        <h4><a href="#">Reach more</a></h4>
                        <p>consectetur adipisicing elit. Asperiores cumque omnis exercitationem labore officiis. Quae soluta nisi praesentium eius.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="service-item text-center style-5">
                        <img src="img/icon/40.png" alt="">
                        <h4><a href="#">Inspire more</a></h4>
                        <p>consectetur adipisicing elit. Asperiores cumque omnis exercitationem labore officiis. Quae soluta nisi praesentium eius.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="service-item text-center style-5">
                        <img src="img/icon/27.png" alt="">
                        <h4><a href="#">Raise more</a></h4>
                        <p>consectetur adipisicing elit. Asperiores cumque omnis exercitationem labore officiis. Quae soluta nisi praesentium eius.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- service end -->



<section class="service-area">
    <div class="container">
        <div class="section-content">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="service-item text-center style-3 hm2">
                        <img src="img/services/s1.jpg" alt="">
                        <h4><a href="#">Help people in need</a></h4>
                        <div class="border-center"></div>
                        <p> Provide direct support to an individual, family or community by paying medical expenses or offering financial aid.</p>
                        <button type="submit" class="btn btn-theme hvr-curl-top-right margin-top-20" data-text="Send Message"><span>Start fundraising</span></button>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="service-item text-center style-3 hm2">
                        <img src="img/services/s2.jpg" alt="">
                        <h4><a href="#">Take action in an emergency</a></h4>
                        <div class="border-center"></div>
                        <p> Provide direct support to an individual, family or community by paying medical expenses or offering financial aid.</p>
                        <button type="submit" class="btn btn-theme hvr-curl-top-right margin-top-20" data-text="Send Message"><span>Start fundraising</span></button>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="service-item text-center style-3 hm2">
                        <img src="img/services/s3.jpg" alt="">
                        <h4><a href="#">Take part in a charity event</a></h4>
                        <div class="border-center"></div>
                        <p> Provide direct support to an individual, family or community by paying medical expenses or offering financial aid.</p>
                        <button type="submit" class="btn btn-theme hvr-curl-top-right margin-top-20" data-text="Send Message"><span>Start fundraising</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="divider divider-pricing over-layer-black" style="background-image:url(img/bg/4.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>We’ve helped <strong>100,000 nonprofits</strong> raise more than one billion dollars from millions of donors.</h2>
                <a class="btn-price" href="#">Learn More!</a>
            </div>
        </div>
    </div>
</section>


<section class="divider divider-video over-layer-black" style="background-image:url(img/bg/7.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <a href="http://www.youtube.com/embed/opj24KnzrWo" data-fancybox-group="gallery" class="lightbox-image" title="lightbox view"><i class="pe-7s-play"></i></a>
            </div>
        </div>
    </div>
</section>

<!-- Counter start -->
<section class="funfact-field over-layer-black" style="background-image: url('img/bg/7.jpg')">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="counter-col text-center">
                    <i class="flaticon-calendar-6"></i>
                    <div class="count">
                        <div class="start-count">25</div>
                        <h4>Years long run</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="counter-col text-center">
                    <i class="flaticon-star-1"></i>
                    <div class="count">
                        <div class="start-count">979</div>
                        <h4>charities rated</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="counter-col text-center">
                    <i class="flaticon-diploma"></i>
                    <div class="count">
                        <div class="start-count">685264</div>
                        <h4>registered users</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="counter-col text-center">
                    <i class="flaticon-idea"></i>
                    <div class="count">
                        <div class="start-count border-none">119</div>
                        <h4>EXTPART Volenteer</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Counter end -->


<!-- Testimonial start -->
<section class="testimonial">
    <div class="container">
        <div class="section-title">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2>Our Clients Say</h2>
                    <div class="line-border-center bg-defult"></div>
                    <p>Repellendus error placeat numquam doloribus perferendis consequatur maxime molestiae soluta Corporis quidem quaerat accusantium omnis repudiandae nulla recusandae</p>
                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="testimonial-carousel-one">
                        <div class="item">
                            <div class="testimonial-item text-center">
                                <div class="testimonial-author">
                                    <div class="author-img">
                                        <img class="img-responsive" src="img/testimonial/1.png" alt="" />
                                    </div>
                                    <h4>John Daniel</h4>
                                    <h6>business man</h6>
                                    <ul>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    </ul>
                                </div>
                                <p>consectetur adipisicing elit. Nemo ex doloremque maiores quas, cumque commodi eaque molestiae in ratione nam obcaecati nihil provident illum eius sed ullam amet, expedita molestias iusto.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-item text-center">
                                <div class="testimonial-author">
                                    <div class="author-img">
                                        <img class="img-responsive" src="img/testimonial/2.png" alt="" />
                                    </div>
                                    <h4>John Daniel</h4>
                                    <h6>business man</h6>
                                    <ul>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    </ul>
                                </div>
                                <p>consectetur adipisicing elit. Nemo ex doloremque maiores quas, cumque commodi eaque molestiae in ratione nam obcaecati nihil provident illum eius sed ullam amet, expedita molestias iusto.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-item text-center">
                                <div class="testimonial-author">
                                    <div class="author-img">
                                        <img class="img-responsive" src="img/testimonial/3.png" alt="" />
                                    </div>
                                    <h4>John Daniel</h4>
                                    <h6>business man</h6>
                                    <ul>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                    </ul>
                                </div>
                                <p>consectetur adipisicing elit. Nemo ex doloremque maiores quas, cumque commodi eaque molestiae in ratione nam obcaecati nihil provident illum eius sed ullam amet, expedita molestias iusto.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial end -->

<footer class="footer-style-1">
    <div class="container">
        <div class="section-content">
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="footer-item-1 footer-item-3">
                        <img src="img/logo-1.png" alt="">
                        <address>
                            <p><i class="pe-7s-map-marker"></i>  #33/16, Khulna University, Khulna 9100,
                                Bangladesh</p>
                            <ul>
                                <li><i class="pe-7s-call"></i>Phone: 001 (407) 901-6400</li>
                                <li><i class="pe-7s-print"></i>Fax: 001 (407) 901-6400</li>
                                <li><i class="pe-7s-clock"></i>Friday - Sunday Closed</li>
                                <li><i class="pe-7s-mail"></i><a href="mailto:">Email: info@ranf.com</a></li>
                                <li><i class="pe-7s-global"></i><a href="#">www.ranf.com</a></li>
                            </ul>
                        </address>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="footer-item-2 style-1">
                        <h4>About us</h4>
                        <ul class="team-name">
                            <li><i class="pe-7s-angle-right"></i><a href="#">Overview</a></li>
                            <li><i class="pe-7s-angle-right"></i><a href="#">Board of Directors</a></li>
                            <li><i class="pe-7s-angle-right"></i><a href="#">History </a></li>
                            <li><i class="pe-7s-angle-right"></i><a href="#">Join Our Team</a></li>
                            <li><i class="pe-7s-angle-right"></i><a href="#">Financials and Policies</a></li>
                            <li><i class="pe-7s-angle-right"></i><a href="#">How We Are Moving Ahead</a></li>
                            <li><i class="pe-7s-angle-right"></i><a href="#">2017 Annual Report</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="footer-item-3 style-1 news-item">
                        <h4>twitter Feed</h4>
                        <div class="news-area clearfix">
                            <div class="news-img">
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </div>
                            <div class="news-content">
                                <a href="#">Eius harum sunt username for envato[at]<span class="color-defult">https://t.co/xQGZwbsLdU</span> Jul. 13, 2017 Gift help</a><br>
                            </div>
                        </div>
                        <div class="news-area clearfix">
                            <div class="news-img">
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </div>
                            <div class="news-content">
                                <a href="#">Eius harum sunt username for envato[at]<span class="color-defult">https://t.co/xQGZwbsLdU</span> Jul. 13, 2017 Gift help</a><br>
                            </div>
                        </div>
                        <div class="news-area clearfix">
                            <div class="news-img">
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </div>
                            <div class="news-content">
                                <a href="#">Eius harum sunt username for envato[at]<span class="color-defult">https://t.co/xQGZwbsLdU</span> Jul. 13, 2017 Gift help</a><br>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="footer-item-2 style-1">
                        <h4>Help us</h4>
                        <ul class="team-name singup">
                            <li><i class="pe-7s-angle-right"></i><a href="#">Sign up to HelpGift</a></li>
                            <li><i class="pe-7s-angle-right"></i><a href="#">Log in to your charity account</a></li>
                            <li><i class="pe-7s-angle-right"></i><a href="#">Help and support</a></li>
                            <li><i class="pe-7s-angle-right"></i><a href="#">Read our blog</a></li>
                            <li><i class="pe-7s-angle-right"></i><a href="#">Visit our help section</a></li>
                            <li><i class="pe-7s-angle-right"></i><a href="#">Donation Fund</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3>Join Our Online Community</h3>
                    <ul class="list-inline icon-style-1 margin-top-20">
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<section class="bg-defult">
    <div class="container padding-tb">
        <div class="row">
            <div class="copy-right">
                <div class="col-md-6 text-left">
                    <p>© 2017, All Rights Reserved, Design & Developed By:<a href="#"> DevWright</a></p>
                </div>
                <div class="col-md-6 text-right">
                    <ul class="list-inline copy-right-list">
                        <li><a href="#">Terms of service</a></li>
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Cookies</a></li>
                        <li><a href="#">Sitemap</a></li>
                        <li><a href="#">Accessibility</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


<a href="#" class="scrollup"><i class="pe-7s-drop" aria-hidden="true"></i></a>